

main {
    display: flex;
}

section.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    height: 100vh;
    width: 100%;
    max-width: 500px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.212);
    z-index: 1;
}

section.auth > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

section.auth > h1 {
    font-weight: 400;
}

div.delivery-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    width: 100%;
    background-color: var(--gray-secondary-color);
}

div.delivery-auth > h2 {
    font-weight: 500;
    font-size: 32px;
}


@media (max-width: 1050px) {
    section.auth {
        box-shadow: none;
        max-width: 100vw;
    }


div.delivery-auth {
    display: none;
    width: 0px;
}

}