

form.form-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

section.buttons-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

form > p {
    align-self: flex-end;
    margin-top: -15px;
    text-decoration: underline;
    cursor: pointer;
}
