@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #7001FD;
    --secondary-color: #1E2882;
    --gray-primary-color: #555555;
    --gray-secondary-color: rgba(32, 32, 32, 0.151); 
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


.divisor {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%; 
  max-width: 400px; 
  margin: 20px auto; 
  color: #888888;
}

.divisor::before,
.divisor::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #888888; 
}

.divisor::before {
  margin-right: 15px;
}

.divisor::after {
  margin-left: 15px;
}

.none {
  display: none;
}

.sidebar-open {
  width: 100%;
  transition: 1s;
  z-index: 1;
}

.sidebar-close {
  width: 35px;
  transition: 1s;
  z-index: 0;
}