
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 410px;
    height: 84px;
}

article > label {
    grid-column-start: span 2;
}

span.input-content {
    display: flex;
}

span.input-content > input {
    width: 100vw;
    max-width: 400px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    background-color: rgba(32, 32, 32, 0.151);
    height: 50px;
    padding: 5px;
    
}

input::placeholder {
    color: var(--gray-primary-color);
}

span.input-content > div{
    position: relative;
    left: -8%;
}